.present {
  padding-bottom: 60px;
  margin-bottom: 50px;
  &__heading {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    h2 {
      width: 100%;
    }
    & > p {
      max-width: 462px;
    }
    h4 {
      text-transform: uppercase;
      font-weight: 700;
      max-width: 220px;
      margin-bottom: 5px;
      & > span {
        font-size: 48px;
        line-height: 42px;
      }
    }
  }
  &__content {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
  }
  &__text {
    padding: 68px 43px 65px 59px;
    max-width: 470px;
    background: #fff;
    position: absolute;
    top: 35px;
    left: 0;
    ul {
      list-style-type: none;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          color: #4764b0;
          font-weight: 700;
        }
      }
    }
  }
}
