.company {
  padding: 0;
  margin-bottom: 30px;
  overflow: visible;
  &::before {
    width: 3%;
  }
  h2 {
    margin-left: 20px;
    margin-bottom: 28px;
    text-align: left;
  }
  &__content {
    margin-bottom: 706px;
    img {
      width: 93.9%;
    }
  }
  &__text {
    padding: 33px 20px;
    max-width: 280px;
    top: 164px;
  }
  &__footing {
    svg {
      display: none;
    }
  }
}
