.company {
  &::before {
    width: 13%;
  }
  h2 {
    margin-bottom: 50px;
  }
  &__text {
    top: 460px;
  }
  &__content {
    margin-bottom: 100px;
  }
  &__footing {
    margin-bottom: 700px;
  }
  &__dots {
    width: 100%;
    position: absolute;
    bottom: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    list-style: none;
    & li button {
      font-size: 0px;
      background: #fff;
      border: none;
      border-radius: 50%;
      height: 6px;
      width: 6px;
      margin: 5px;
      outline: none;
    }
    & li[class='slick-active'] button {
      transform: scale(1.7);
    }
  }
}
