.principles {
  &__container {
    background: #fff;
  }
  &__dots {
    padding-bottom: 15px;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    position: absolute;
    bottom: -40px;
    right: 0;
    z-index: 1;
    & li button {
      font-size: 0px;
      background: #4664af;
      border: none;
      border-radius: 50%;
      height: 6px;
      width: 6px;
      margin: 5px;
      outline: none;
    }
    & li[class='slick-active'] button {
      transform: scale(1.7);
    }
  }
}
