.company {
  padding-top: 15px;
  &::before {
    width: 3.6%;
  }
  h2 {
    margin-bottom: 25px;
  }
  &__content {
    margin-bottom: 600px;
    img {
      width: 92%;
    }
  }
  &__text {
    padding: 39px 35px 50px 40px;
    top: 335px;
  }
  &__footing {
    svg {
      display: none;
    }
  }
  &__dots {
    width: 200px;
    position: absolute;
    bottom: 5%;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    list-style: none;
    margin-left: 10px;
    & li button {
      font-size: 0px;
      background: #fff;
      border: none;
      border-radius: 50%;
      height: 6px;
      width: 6px;
      margin: 5px;
      outline: none;
    }
    & li[class='slick-active'] button {
      transform: scale(1.7);
    }
  }
}
